.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container p {
    font-size: 1.2em;
}

.container textarea {
    width: 50%;
    height: 5rem;
    resize: none;
    padding: 1rem;
    border-radius: 0.3rem;
}