.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
}

.name::after {
    content: ' میگه: ';
}