.container {
	display: flex;
	flex-basis: 50%;
	width: 100%;
	height: 105%;
	overflow: hidden;
}

.info::before {
	content: '';
	position: absolute;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1) url('../../../assets/images/blog.jpg') no-repeat;
	background-size: cover;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.info {
	width: 100%;
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
}

.message {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.message input,
.message textarea {
	width: 20rem;
	height: 2rem;
	padding: 1rem;
	outline: 0;
	border: 1px solid #000;
	border-radius: 0.2rem;
}
.message input[type='email'] {
	direction: ltr;
}
.message input[type='email']::placeholder {
	text-align: right;
}
.message input[type='submit'] {
	padding: 0;
	border: none;
}
.message textarea {
	height: 10rem;
	resize: none;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
	width: 75%;
	margin: 1rem auto;
	padding: 1rem 0 2rem;
	border-radius: 0.3rem;
}

.card h4 {
	margin: 1rem 0;
}

.card h4::after {
	width: 10rem;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
	.container {
		flex-direction: column;
		gap: 2rem;
	}
	.message input,
	.message textarea {
		width: 15rem;
	}
}

@media screen and (min-width: 500px) and (max-width: 700px) {
	.container {
		flex-direction: column;
		gap: 2rem;
	}
	.message input,
	.message textarea {
		width: 18rem;
	}
}
