.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: -1rem 0 2rem;
}

.search {
    width: 45%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    outline: 0;
    border: 1px solid #000;
}